controller:
  replicaCount: 1
  resources:
    limits:
      cpu: 250m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi

defaultBackend:
  enabled: false

admissionWebhooks:
  enabled: false

rbac:
  create: true
