apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
  namespace: infra-tools
spec:
  project: default

  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: loki-stack
    targetRevision: 2.9.10
    helm:
      releaseName: loki
      values: |
        loki:
          persistence:
            enabled: false

        promtail:
          enabled: true

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true